.heroimage-section{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0px 60px;
  background:#f2f2f2;
  gap:40px;
}
.heroimage-section.hero-right{
  padding-right: 0px;
}
.heroimage-section.hero-left{
  padding-left: 0px;
}
/* content */

.hero-content{
  flex:1;
  max-width:620px;
}

/* image */

.hero-image{
  flex:1;
  display:flex;
 
}

.hero-image img{
  width:100%;
  max-width:100%;
  object-fit:cover;
}

/* alignment control */

.hero-right{
  flex-direction:row;
}

.hero-left{
  flex-direction:row-reverse;
}

/* eyebrow */

.hero-eyebrow{
  display: block;
  font-weight: bold;
  color:#000;
  font-size:14px;
  margin-bottom:16px;
}

/* title */

.hero-title{
  font-size:48px;
  line-height:1.2;
  font-weight:700;
  color:#0b2c6b;
  margin-bottom:20px;
}

/* description */

.hero-description{
  font-size:18px;
  line-height:1.6;
  color:#333;
  margin-bottom:30px;
}

/* CTA button */

.hero-cta{
  display:inline-block;
  background:#0b2c6b;
  color:#fff !important;
  padding:14px 32px;
  border-radius:40px;
  font-weight:600;
  text-decoration:none;
  transition:0.3s;
}

.hero-cta:hover{
  background:#092352;
}

/* responsive */

@media (max-width:900px){

.hero-section{
  flex-direction:column;
  text-align:center;
  padding:60px 20px;
}

.hero-content{
  max-width:100%;
}

.hero-image img{
  max-width:100%;
}

}